@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: var(--base);
}

body {
  font-size: var(--font-size-16);
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
